{% extends "hotel_app/base.html" %}
{% block content %}
<div class="title"><p>{{ title }}</p></div>
<div class="room-container">
    {% for room in rooms %}
    <div class="room-block">
        <p>{{ room.1 }}</p>
        <p>{{ room.2 }}</p>
        <p>{{ room.3 }}</p>
    </div>
    <form action={% url 'add_reserve' %} method="post" class="form2">
        {% csrf_token %}
        <input type="hidden" name="rid" value="{{ room.1 }}">
        <input type="hidden" name="type" value="{{ room.2 }}">
        <input type="hidden" name="p_size" value="{{ room.3 }}">
        <label for="fname">First name</label>
        <input type="text" name="fname">
        <label for="lname">Last name</label>
        <input type="text" name="lname">
        <input type="submit" value="reserve">
    </form>
    {% endfor %}
</div>
{% endblock content %}
